TAACGGGTGGGAACACCTTGTTCAGGTCCTCTACAACTGTGAGTCTGGTGCCTTGCCCAAAGAAAGCTTTATGGTTCCCCCCCCCTGTGGTATTGCGGGAC
TAACGGGTGGGAACACCTTGTTCAGGTCCTCCAAGACAGAGAGCTGGGTTCCCCTGCCAAATAAACGTTTTCTCCCCTCCACGCTGCTGACCTAACTCTAT
CTCAGTGACTCTGGCTTCTATCTCTGTGCCTGGAGTCGACTGTCAACTAATGAAAAACTGTTTTTTTGGCAGTGGGAACCAGCTCTATGTTTTGGTGGCTC
TAACGGGTGGGAACACCTTGTTCAGGTCCTCCAAGACAGAGAGCTGGGTTCCCCTTCCAAAAAACAGTTTTTCATTTGTCCCGGGGTTGCTGGCACAGAAG
TAACGGGTGGGAACACGTTTTTCAGGTCCTCTAGCACGGTGAGCCGTGTCCCTGGCCCGAAGAACTGCTCATTGCTGTTCTGTTTGCTGGCGCTCAATCAC
TAACGGGTGGGAACACCTTGTTCAGGTCCTCTACAACTGTGAGTCTGGTGCCTTGTCCAAAGAAAGCTTCAGTGTTCTCCGCCCCCTCTACGCTGCTGTCG
CAACCAGACCTCTCTGTACTTCTGTGCCAGCAGTTATTCCCAGAATTCACCCCTCCACTTTGGGAATGGGACCAGGCTCACTGTGTCAGATGACCTGAACA
TAACGGGTGGGAACACCTTGTTCAGGTCCTCTACAACTGTGAGTCTGGTGCCTTGTCCAAAGAAAGCTTAAGTCCCCAAGCTGTTGGCGCATAGAGACTGG
AGAGAAGAGGAATTTCCCCCTGATCCTGGAGTCGCCCAGCCCCAACCAGACCTCTCTGTAATTCTGATCCTGCAGTTTAGGTGTACGGGCACGTGATCTGT